.navbar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background-color: lightgray;
    border: 2px solid;
    width: 100%;
    text-align: left;
}

table{
margin: 25px;
width: 100%;
text-align: left;
}